@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

h2, h3, h4, h5{
	color: #fff;
}


body{
	background-image: url('../img/chalkboard.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	//background-color: #0f0c2a;
	background-color: #000;
}


#main-header{
	padding: rem-calc(30) 0 rem-calc(15) 0;
	margin-bottom: rem-calc(30);
	position: relative;
}

.brackets{
	text-transform: uppercase;
	&:before, &:after{
		font-family: "Rock Salt";
	}
	&:before{
		content: "{ ";
	}
	&:after{
		content: " }";
	}
}

#name{
	text-align: right;
	h1{
		font-family: "Rock Salt";
		color: #fff;
	}
	small{
		font-family: "Lato";
		@extend .brackets;
		color: #fff;
	}
}

#portfolio{
	padding: rem-calc(30) 0;

	h3{
		@extend .brackets;
		text-align: center;
		margin-bottom: rem-calc(30);
	}

	ul{

		li{
			text-align: center;

			h4{
				margin-top: rem-calc(15);
			}
		}
	}
}
